# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Env
.env
.env.*
!.env.example

# OS
.DS_Store
Thumbs.db

# Nuxt (v3)
.nuxt/
.output/
.cache/
*.log

# VSCode
.vscode/

# Strapi
strapi/.tmp/
strapi/build/
strapi/dist/
strapi/.cache/
strapi/.strapi-updater.json
strapi/public/uploads/

# Locks (keep one of these if you prefer)
# package-lock.json
# yarn.lock
# pnpm-lock.yaml

# Misc
*.local

